#winner_row {
    margin: 25px 0;
    font-family: 'Reggae One', cursive;
    text-align: center;
}


.card-body > a {
    width: 100%;
    margin-top: 10px;
}


.card-text {
    padding-bottom: 0px;
    margin-bottom: 5px;
}

.action_btn {
    width: 250px;
}